* {
  -cn-border-color: #000000;
}

.label {
  -fx-font-size: 14;
}

.button {
  -fx-font-size: 14;
}

.double-control_text-field {
  -fx-font-family: 'Consolas';
  -fx-font-size: 14;
}

.select-control_combo-box {
  -fx-font-family: 'Consolas';
  -fx-font-size: 14;
}

.string-control_text-area {
  -fx-font-family: 'Consolas';
  -fx-font-size: 14;
}

.pass-repeater_tab-pane {
  -fx-min-width: 600;
  -fx-pref-width: 600;
}

.pass-repeater_control-pane {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-border-style: solid;
  -fx-border-width: 1 0 0 0;
  -fx-border-color: -cn-border-color;
}

.pos-controls {
  -fx-min-width: 150;
  -fx-pref-width: 150;
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-border-style: solid;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: -cn-border-color;
}

.pass-controls {
  -fx-padding: 20;
  -fx-spacing: 20;
}

.width-300 {
  -fx-min-width: 300;
  -fx-pref-width: 300;
}

.static-text-controls {
  -fx-padding: 20;
  -fx-spacing: 20;
}

.preview-pane {
  -fx-padding: 20;
  -fx-spacing: 20;
  -fx-border-style: solid;
  -fx-border-width: 0 0 0 1;
  -fx-border-color: -cn-border-color;
}

.preview-pane_bottom {
  -fx-padding: 20 0 0 0;
}

.vertical-divider {
  -fx-max-width: 1;
  -fx-border-style: solid;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: -cn-border-color;
}

.horizontal-divider {
  -fx-max-height: 1;
  -fx-border-style: solid;
  -fx-border-width: 1 0 0 0;
  -fx-border-color: -cn-border-color;
}
