* {
  -cn-border-color: #888888;
}

/* [START] Global Styles */

.label {
  -fx-font-size: 14;
}

.button {
  -fx-font-size: 14;
}

.tab {
  -fx-font-size: 14;
}

/* [END] Global Styles */

/* [START] Control Styles */

.double-control-text-field {
  -fx-font-family: 'Consolas';
  -fx-font-size: 14;
}

.select-control-combo-box {
  -fx-font-family: 'Consolas';
  -fx-font-size: 14;
}

.string-control-text-area {
  -fx-font-family: 'Consolas';
  -fx-font-size: 14;
}

.toggle-control-check-box {
  -fx-font-size: 14;
}

/* [END] Control Styles */

/* [START] PassRepeater Styles */

.pr-pos-controls {
  -fx-min-width: 200;
  -fx-pref-width: 200;
  -fx-padding: 10;
  -fx-spacing: 10;
  -fx-border-style: solid;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: -cn-border-color;
}

.pr-pass-controls {
  -fx-padding: 10;
  -fx-spacing: 10;
}

.pr-static-text-controls {
  -fx-padding: 10;
  -fx-spacing: 10;
}

.pr-control-pane-bottom {
  -fx-padding: 10;
  -fx-spacing: 10;
  -fx-border-style: solid;
  -fx-border-width: 1 0 0 0;
  -fx-border-color: -cn-border-color;
}

.pr-preview-control-pane {
  -fx-padding: 10;
  -fx-spacing: 10;
  -fx-border-style: solid;
  -fx-border-width: 0 0 0 1;
  -fx-border-color: -cn-border-color;
}

.pr-preview-pane-bottom-controls {
  -fx-spacing: 10;
  -fx-alignment: center;
}

.pr-preview-pane-bottom {
  -fx-padding: 10;
  -fx-spacing: 10;
  -fx-border-style: solid;
  -fx-border-width: 1 0 0 1;
  -fx-border-color: -cn-border-color;
}

/* [END] PassRepeater Styles */
